%header
  %h1 Julian Rosse
  %h3 Full-stack developer

%ul.contact
  %li
    %Icon{ name: 'point' }
    New York, NY
  %li
    %Icon{ name: 'mail outline' }
    %a{ href: 'mailto:julian@helixbass.net' } julian@helixbass.net
  %li
    %Icon{ name: 'phone' }
    704 564 5090

%ul.work
  %li
    %Icon{ name: 'home' }
    %a{ href: 'http://helixbass.net' } helixbass.net
  %li
    %Icon{ name: 'github' }
    %a{ href: 'https://github.com/helixbass' } helixbass
  %li
    %Icon{ name: 'briefcase' }
    %a Resume

%Header{ as: 'h3' } Projects
  %Card.Group
    %Card
      %Image{ src: '' }
      %Card.Content
        %Card.Header Coffeescript-JSXY
        %Card.Meta
          %a{ href: '/projects/jsxy' }
            Write beautiful clean React components
        %Card.Description
          %a{ href: 'http://haml.info' } Haml
          -inspired JSX syntax built on
          %a{ href: 'http://coffeescript.org/v2' } CoffeeScript 2
    %Card
      %Image{ src: '' }
      %Card.Content
        %Card.Header CSS3 Gradient Pattern Tool
        %Card.Meta
          %a{ href: '/projects/gradients' }
            Customize and animate CSS3 gradient patterns
        %Card.Description
          Interactively tailor and animate CSS3 gradient patterns.
          Includes all patterns from
          %a{ href: 'http://lea.verou.me/css3patterns' }^ Lea Verou's gallery
          and
          %a{ href: 'http://lea.verou.me/css3patterns' }^
            Bennett Feely's
            %code^ background-blend-mode
            gallery
    %Card
      %Image{ src: '' }
      %Card.Content
        %Card.Header animate-backgrounds
        %Card.Meta
          %a{ href: 'https://github.com/helixbass/animate-backgrounds' }
            github.com/helixbass/animate-backgrounds
        %Card.Description
          Animate CSS3 gradients, <code>background-size</code>, and <code>background-position</code>.
          Plugs into
          %a{ href: 'http://jquery.com' }^ jQuery
          or
          %a{ href: 'http://animejs.com' }^ anime.js
    %Card
      %Image{ src: '' }
      %Card.Content
        %Card.Header sass-gradient-patterns
        %Card.Meta
          %a{ href: 'https://github.com/helixbass/sass-gradient-patterns' }
            github.com/helixbass/sass-gradient-patterns
        %Card.Description
          %a{ href: 'http://sass-lang.com' } Sass mixins
          for CSS3 gradient patterns
    %Card
      %Image{ src: '' }
      %Card.Content
        %Card.Header Copheescript
        %Card.Meta
          %a{ href: 'https://github.com/helixbass/copheescript' }
            CoffeeScript -> PHP
        %Card.Description
          Hacked the CoffeeScript compiler to output PHP.
          Used for all new back-end code last 2+ years at Zeel

%Header{
  as: 'h3'
  icon: 'history'
  attached: 'top'
} Experience
%Segment{ attached: yes }
  %Item.Group
    %Item
      %Item.Content
        %Item.Header Funemployment (hacking/learning/traveling in Mexico)
        %Item.Meta 2017 thus far
        %Item.Description
          %ul
            %li contributing to CoffeeScript
            %li learning React/Redux (wrote CoffeeScript-JSXY)
            %li playing with front-end/animation stuff
    %Item
      %Item.Content
        %Item.Header Zeel Massage on Demand (New York, >1 year remote from CO)
        %Item.Meta Nov 2013&mdash;Dec 2016: Full-stack developer
        %Item.Description
          %ul
            %li one of only two web devs for most of my time there
            %li built frameworks (ORM, RESTful APIs, Copheescript -> PHP, ...) to simplify day-to-day coding
            %li focused on CMS (using Angular 1.x) and reporting (MySQL via custom ORM)
            %li rearchitected and reimplemented major backend systems resulting in major flexibility and productivity gains
    %Item
      %Item.Content
        %Item.Header Freelance web developer
        %Item.Meta 2006&mdash;2013: Mostly Python
        %Item.Description
          %ul
            %li worked single-handedly or with design partners to produce data-backed websites for clients
            %li built Sleepy framework (Python) to generate XQuery DB, RESTful APIs and CMS interface from YAML config
    %Item
      %Item.Content
        %Item.Header Educational Testing Service (Princeton, NJ)
        %Item.Meta 2002&mdash;2006: Web programmer/data analyst
        %Item.Description
          %ul
            %li developed interactive web-based reporting and data analysis tools

%Header{
  as: 'h3'
  icon: 'lab'
  attached: 'top'
} Projects
%Segment{ attached: yes }

%Header{
  as: 'h5'
  icon: 'student'
} Swarthmore '04 CS/Math

%Header{
  as: 'h3'
  icon: 'heart'
  attached: 'top'
} Values
%Segment{ attached: yes }
  %ul
    %li User experience <==> enlightenment
    %li
      Unabashed apprenticeship, fandom, and humility create sustainable paths
      of learning and growth
    %li Thinking like a systems programmer regardless of the task
    %li Iterative, feedback-driven development
