.app
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.ui.accordion .title ~ .content:not(.active)
    display: block !important
    padding: 0 !important

.ui.accordion.animation-steps .title
    margin-left: -10px

pre
    font-size: .8em
